{% extends 'frame.html' %}

{% block title %}
<title>Editing</title>
{% endblock %}

{% block navlinks %}
<li>
    <a href="{{ url_for('homepage') }}">Home</a>
</li>
<li>
    <a href="{{ url_for('stories') }}">Stories</a>
</li>
{% endblock %}

{% block content %}
<div class="panel panel-success">
    <!-- Panel title -->
    <div class="panel-heading">
        <h3 class="panel-title">Editing: {{ story_title }}</h3>
    </div>
    <!-- Panel body -->
    <div class="panel-body">
        {% if story_state == True %}
        <h3 style="color: red;">You have already edited this story</h3>
        {% else %}
        <p>Last Line: {{ story_line }}</p>
        <hr class="fadebar"/>
        <!-- Button to add a line -->
        <form action="{{ url_for('addline') }}" method="POST">
            <div class="form-group">
                <input name="title" style="display: none;" value="{{ story_title }}" type="text" />
                <label class="control-label" for="focusedInput">Add a line:</label>
                <input class="form-control" name="line" id="focusedInput" placeholder="Type your line here..." type="text" autofocus/>
            </div>
            <!-- Fancy spinny thingy -->
            {% if session.username %}
            <button class="btn btn-success btn-sm" type="submit">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-o-notch fa-stack-2x fa-spin"></i>
                    <i class="fa fa-pencil fa-stack-1x"></i>
                </span>
                <b> Add to the story</b>
            </button>
            {% else %}
            <h3 style="color: red;">Please login first</h3>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}