{% extends 'frame.html' %}

<!-- Changes the title of the page -->
{% block title %}
<title>Login Page</title>
{% endblock %} 

<!-- Dehighlights every link since none of them are active -->
{% block navlinks %}
<li>
    <a href="./home">Home</a>
</li>
<li>
    <a href="./stories">Stories</a>
</li>
{% endblock %}

<!-- Changes the content of the page to the login/register page -->
{% block content %}
<div class="panel panel-primary">
    <!-- Panel title -->
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <!-- Panel body -->
    <div class="panel-body">
        <form class="form-horizontal" id="lrInputs">
            <fieldset>
                <!-- Username input -->
                <div class="form-group">
                    <label for="inputUsername" class="col-lg-3 control-label">Username</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <span class="fa fa-pencil-square-o"></span>
                        </span>
                        <input class="form-control" id="inputUsername" placeholder="Username" type="text" />
                    </div>
                </div>
                <!-- Password input -->
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Password</label>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <span class="fa fa-key"></span>
                        </span>
                        <input class="form-control" id="inputPassword" placeholder="Password" type="password" />
                    </div>
                </div>
                <!-- Login/Register buttons -->
                <div class="form-group">
                    <div class="input-group margin-bottom-sm col-lg-offset-3">
                        <button type="submit" action="{{ url_for('auth') }}" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Logs in with the inputted data">
                            Login
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}