{% extends 'frame.html' %}

<!-- Changes the title of the page -->
{% block title %}
<title>Search results</title>
{% endblock %}

<!-- Dehighlights all navbar links -->
{% block navlinks %}
<li>
    <a href="./home">Home</a>
</li>
<li>
    <a href="./stories">Stories</a>
</li>
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="panel panel-danger">
    <!-- Panel Title -->
    <div class="panel-heading">
        <h2 class="panel-title">Search Results:</h2>
    </div>
    <!-- Panel body -->
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <!-- Titles of table columns -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last added line</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <a class="btn btn-default btn-xs" href="#">Story, the tale of testing tests in a story testing way</a>
                    </td>
                    <td>The unanimous Declaration of the thirteen united States of America, When in the Course of human events,
                        it becomes necessary for one people to dissolve the political bands which have connected them with
                        another, and to assume among the powers of the earth, the separate and equal station to which the
                        Laws of Nature and of Nature's God entitle them, a decent respect to the opinions of mankind requires
                        that they should declare the causes which impel them to the separation. </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}